@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ahri Spirit Blossom</h1>
    <a href="https://localhost:44342/swagger/index.html" target="_blank"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;" >Swager</button></a>
    
</div>

<div style="background-image: url('https://s2.glbimg.com/sp0jUHB5Fdz5l67-N_N7avfWe-A=/0x0:1024x604/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/y/m/B0bItDROqGPJsmrdrSmg/sb-ahri-1024x604.jpg');">
    <br />
    <br />
    @*<img src="~/img/ahri.jpg" alt="Italian Trulli">*@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bQFrqlRnIo8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>



